<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
    <h1>Welcome to the HOME PAGE!</h1>
    <a th:href="@{/login}">LOGIN PAGE</a>
    <a th:href="@{/logout}">LOGOUT PAGE</a>
    <a th:href="@{/register}">REGISTER PAGE</a>
    <a th:href="@{/admin-panel}">ADMIN-PANEL PAGE</a>
    <a th:href="@{/user-panel}">USER-PANEL PAGE</a>
</body>
</html>
